{% extends "k_app/index.html" %}
{% load static%}

{% block css %}
<style>
  .header{
    background-image: url("{% static 'k_app/images/KmmunicateBG.gif' %}")
  }

  .k_container{
      background-image: url("{% static 'k_app/images/KmmunicatePageBG.png' %}");
  }

  html{
    overflow: hidden;
  }


</style>
{% endblock %}

{% block body_block %}

<div class="k_container">
    <div class="card">
      <div class="inner-box">
    
        <div class="cardMain">
            <div class="left-col col">
              <video class="input_video"></video>
            
            <canvas class="output_canvas"></canvas>
            </div>

            <div class="right-col col">
              <a href=""><img src="{% static 'k_app/images/K-mmunicateLogo2.png' %}"></a>
              <h2 class="results" style="float: right; text-align: center; ">HELLO</h2>
              <h2>Sign: <span class="answer"></span></h2>
            </div>
            <!-- <div>
              <form id ='my-post' method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <input id="hidden-raw" type="text" name="keypoints" style='display: none'>
              <input id="fsl_play" type="submit" class="btn btn-primary" style="float: right;" value="Let's Kmmunicate">
            </form>
          </div> -->
            <!-- <video id="webCam" autoplay playsinline width="800" height="580"></video> -->
            
            <!-- <body onLoad="startKmmunicate();"></body>
            <button type="startButton" >Let's K-mmunicate</button> -->

        </div>

      </div>

    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>


$(document).on('submit', '#my-post', function(e){

$.ajax({
  type: 'POST',
  url: '/result/',
  data:{
    keypoints:$('#hidden-raw').val(),
    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
  }, success: function(response){

    let sign = JSON.parse(response)
    sign = sign['signs'];

    var obj = document.createElement('audio');
    obj.crossOrigin = 'anonymous';
    var speech = "{% static 'audio/a.mp3' %}";  //FORMAT : /static/audio/a.mp3   --> 
    var sign_audio = speech.slice(0,14) + sign +speech.slice(15)

    obj.src = sign_audio; 
    obj.play(); 
    
    var sign_tag = document.getElementById('sign_output');
    sign_tag.innerHTML=sign;
  }

});

e.preventDefault()
});



//  $(document).ready(function(){

//   setInterval(function(){
//       var sign_tag = document.getElementById('sign_output');
//       sign_tag.innerHTML=sign;

//   }), 3000};

</script>

{% endblock %}