{% extends "k_app/index.html" %}
{% load static%}

{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h2>KCAM PAGE</h2>
    <h4 id="sign_output">{{ sign }}</h4>
   <div class="container">
     <form method="POST">
       {% csrf_token %}
      {{ form.as_hidden  }}
     </form>
   </div>

    <video class="input_video"></video>
    <input id="fsl_play" type="submit" class="btn btn-primary" value="Let's Kmmunicate">
  
    <canvas class="output_canvas" width="640px" height="480px"></canvas>
    </div>
</div>


<!-- ====================================================== -->


<!-- ====================================================== -->

<!-- <script>
  var
  console.log()
</script> -->


<script>

  
  $(document).ready(function(){

    setInterval(function(){
  
      // var sign_template = JSON.parse("{{signs|escapejs}}");
      var sign_template = "{{ signs }}";
        // var sign_template = JSON.parse("{{ signs }}");
        console.log("RESPONSE = ", sign_template);
        var sign_tag = document.getElementById('sign_output');
        sign_tag.innerHTML=sign_template;

    }, 3000);

  
  
    $('#fsl_play').on('click', function () { 
    var obj = document.createElement('audio');
    obj.crossOrigin = 'anonymous';
    var speech = "{% static 'audio/a.mp3' %}";
    var letter = ['a','b','c'];
    
    //TEMPLATE TAG AUDIO SIGN
    // var sign_template = "{{ signs }}";
    // var sign_audio = speech.slice(0,14) + sign_template +speech.slice(15)

    obj.src = speech; 
    obj.play(); 
});

//     $("fsl_play").click(function(){
// console.log('PLAYED SUCCESSFULLY!')
// const audio = new Audio(speech);
// audio.play();
// $.ajax({
//         url: 'http://localhost:8000/kcam/', 
//         success: function(result){
//             $("#div1").html(result);
//           }});
// });

  });

  


</script>

<!-- RESPONSE =  {&#x27;sign&#x27;: &lt;bound method 
  BoundField.value of &lt;django.forms.boundfield.BoundField 
  object at 0x000002123EAA2A90&gt;&gt;} -->

  
<!-- <script>
        
  const tweetsElement = document.getElementById("sign_output")
  const xhr = new XMLHttpRequest()
  const method = "get"
  const url = "/kcam/"
  const responseType = "json"

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function () {
      console.log("testing")
      const serverResponse = this.response
      var listedItems = serverResponse.response
      console.log(listedItems)
  }

  xhr.send()

</script> -->

{% endblock %}