{% extends "k_app/index.html" %}
{% load static%}

{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h2>KCAM PAGE</h2>
    <h4 id="sign_output">{{ sign }} HOLD</h4>
   

    <video class="input_video"></video>
    <!-- <input id="fsl_play" type="submit" class="btn btn-primary" value="Let's Kmmunicate">
     -->
    
    <form method="POST" action="{% url 'output' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input id="hidden-raw" type="text" name="keypoints" style='display: none'>
      <input id="fsl_play" type="submit" class="btn btn-primary" value="Let's Kmmunicate">
    </form>

    <!-- <form method="POST" action="{% url 'cam' %}">
      {% csrf_token %}
      {{ form.as_p }}
       <button id='try-again' type="button" class="btn btn-warning">Try again</button>
    </form> -->


    <canvas class="output_canvas" width="800px" height="580px"></canvas>
    <!-- <h6 id="hidden-raw" style='display: none'></h6> -->
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    //No hands detected
    //Please try again

    $('#fsl_play').on('click', function (e) { 
    var sign_template = "{{ signs }}";
    alert(sign_template);
    var obj = document.createElement('audio');
    obj.crossOrigin = 'anonymous';
    var speech = "{% static 'audio/a.mp3' %}";  //FORMAT : /static/audio/a.mp3   --> 
    var sign_audio = speech.slice(0,14) + sign_template +speech.slice(15)
    alert(sign_audio);
    obj.src = sign_audio; 
    obj.play(); 

    // $("#sign_output").html(all_keypoints);
    document.getElementById("sign_output").value = sign_template;

    // e.preventDefault()

  });

  


</script>


{% endblock %}